*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}
body{
    background-color: blueviolet;
}
.otl,ul,li{
    outline-style: auto;
}
#d1{
    width: 20%;
    height: 70vh;
    float: left;
    margin: 15vh 2.5%;
}
#d2{
    width: 65%;
    height: 85vh;
    float: left;
    margin: 7.5vh 5%;
}
.ulFirst li{
    height: 8vh;
    width: inherit;
    text-align: center;
    border-radius: 20px;
    line-height: 8vh;
    margin: 2vh 0;
    font-size: 25px;
    background-color: aquamarine;
    box-shadow: 5px 5px 10px #2c2c2c;
}
/* .ulFirst li:hover{
    font-size: 30px;
    transform: translate(+5vh);
} */
.show1{
    width: 100%;
    height: inherit;
    display: block;
    position: flex;
}
.show1L{
    width: 10%;
    height: 85vh;
}
.show1R{
    width: 90%;
    height: 85vh;
}
.show1L,.show1R{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.show1L ul{
    width: 100%;
}
.show1L ul li{
    width: 100%;
    height: 5vh;
    margin: 2vh 0;
    background-color: aqua;
    border-radius: 10px;
    text-align: center;
    line-height: 5vh;
    font-size: 20px;
    box-shadow: 5px 5px 10px #000000;
}
li:hover{
    cursor: pointer;
}
[class^="show1RD"],[class^="show1RE"],[class^="show1RF"],.show1RG5{
    line-height: 85vh;
    width: 58.5%;
    height: 85vh;
    position: absolute;
}
/* #D3:hover + .show1R .show1RD3{
    z-index: 14;
} */
.ground{
    width: 58.5%;
    height: 85vh;
    background-color: black;
    position: absolute;
    z-index: 14;
}
