*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: black;
    border: none;
    outline: none;
}
.topArea{
    width: inherit;
    height: 85vh;
    /* background-image: linear-gradient(to bottom,rgb(252, 172, 172),white); */
    background-image: url(../img/yuanshen.jpg);
    background-repeat: repeat-x;
    background-size: 100%;
}
/* .center-area{
    width: 100%;
    height: 50vh;
    background-image: url(../img/yuanshen.jpg);
    background-repeat: repeat-x;
    background-size: 100%;
} */
.topArea>ul{
    /* background-color: rgba(123, 123, 123, 0.148); */
    width: 100%;
    height: 50px;
    border-bottom: solid 1px white;
}
.topArea>ul>li:not([class^="getMenu"]){
    float: left;
    color: white;
    height: 50px;
    width: 100px;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0px 10px;
}
.topArea>ul>li:hover{
    background-color: rgba(0, 0, 0, 0.195);
}
.drop1:hover .dropDown1,.drop2:hover .dropDown2,.drop3:hover .dropDown3,.drop4:hover .dropDown4,.drop5:hover .dropDown5{
    display: block;
}
[class^="dropDown"]:not(.dropDown3,.dropDown2){
    background-color: black;
    display: none;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    color: white;
    border: white solid 1px;
}
.dropDown3,.dropDown2{
    background-color: black;
    display: none;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    width: 150px;
    border: white solid 1px;
}
[class^="dropDown"] li{
    border-radius: 10px;
    color: white;
}
[class^="getMenu"] ul{
    border: solid white 1px;
    border-radius: 10px;
}
.dropDown3 ul,.dropDown2 ul{
    width: 150px;
    background-color: black;
    border-radius: 10px;
}
.dropDown3 ul li{
    height: 35px;
    width: 150px;
    background-color: none;
    line-height: 35px;
}
.dropDown2 ul li{
    height: 50px;
    width: 150px;
    background-color: none;
    line-height: 50px;
}
[class^="dropDown"] li:hover{
    background-color: #b5b5b5;
}
.menu1:hover .getMenu1,.menu2:hover .getMenu2,.menu3:hover .getMenu3,.menu4:hover .getMenu4,.menu5:hover .getMenu5,.menu6:hover .getMenu6,.menu7:hover .getMenu7,.menu8:hover .getMenu8{
    display: block;
}
[class^="getMenu"]{
    display: none;
    position: absolute;
    left: 100%;
    background-color: black;
    border-radius: 10px;
}
.getMenu:nth-child(n) {
    top: calc((n - 1) * 50px);
}
[class^="getMenu"] {
    transform: translateY(-50px);
  }
[class^="getMenu"] li{
    width: 100px;
    height: 50px;
} 