*{
    border: none;
    outline: none;
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    margin: 10px 0;
}
table{
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}
table,tr,td{
    border: #000 solid 1px;
    text-align: center;
}
td{
    padding: 5px 10px;
}